.deposit{
  color: #C4C4C4;
  text-decoration: none;
  margin-right: 5px;
}

.deposit:hover{
  color: #007bff;
  text-decoration: none;
}

.navbar-brand{  
  font-size: 25px;
}

.language-choice{
  color: #C4C4C4;
}

.language-choice:hover{
  color: #007bff;
}

.dropdown-menu{
  min-width: auto;
}